[user]
	email = dfuehrer@email.arizona.edu
	name = dfuehrer
[diff]
    tool = nvimdiff
[merge]
    tool = nvimdiff
[difftool]
    #prompt = false
[alias]
    lgg = log --decorate --graph --all --date-order
    lg = !git --no-pager log --decorate --graph --all --date-order --oneline -n 10
    co = checkout
    dt = difftool
    mt = mergetool
    sdif = diff --staged
    sdiff = sdif
    sdt = difftool --staged
    delta = !git diff | delta -s
