#!/bin/sh
export AWT_TOOLKIT=MToolkit
setwall.sh -r
dwmblocks &
restartprocess.sh clipmenud &
xbanish -i mod1 -i mod4 -i control &
autoupdate sxhkd -rs SIGUSR1 &
autoupdate "picom --experimental-backend" -rs SIGUSR1 &
# TODO do a screen dimming thing before it just blacks
xss-lock -- slock.sh -w &
# set the xresources before moving on
xrdb ~/.config/Xresources
nastart.sh &
